@CHARSET "UTF-8";
/* 和bootstrap一样的属性名，css文件后加载的有效，所以该css放在bootstrap.css后面 */
html,body {
	background: #ebebeb;
	color: #6f6f6f;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	background-clip: padding-box;
}
a{
	outline:none;
	color:#303030;
}
a:hover {
	color: #e67e22;
}
.head{
	background: #ffffff;
	padding: 35px;
	margin-bottom:35px;
	position:relative;
	overflow:hidden;
	color: #e67e22;
}
.head-logo{
	padding-left:50px;
	overflow:hidden;
	float:left;
}
.head-word{
	padding-left:60px;
	padding-top:12px;
	float:left;
}
.head-login{
	padding-left:100px;
	float:left;
}
.head-login p{
	padding-left:30px;
}
.head-login a img {
	display:inline;
}
.chuiniu{
	background: #ffffff;
	padding: 35px;
	margin-bottom:35px;
	position:relative;
	overflow:hidden;
}
.chuiniu-1{
	color: #303030;
	margin-bottom:15px;
}
.chuiniu-1-1{
	width:81%;
	font-size:16px;
	float:left;
}
.chuiniu-1-1 a:hover,.chuiniu-1-1 a:focus{
	text-decoration: none;
}
.chuiniu-1-2{
	width:19%;
	float:left;
	font-size: 18px;
	padding-left:5px;
}
.chuiniu-2-1{
	width:20%;
	float:left;
}
.chuiniu-2-2{
	text-align:right;
	width:80%;
	padding-left:50px;
	float:left;
}
.main-right{
	padding:21px 30px;
	background:#ffffff;
}
.title{
	margin-top:0xp;
	padding-bottom:7xp;
	border-bottom:1px solid #ebebeb;
	margin-bottom:21px;
	position:relative;
}
.main-right .title:after {
  content: "";
  width: 90px;
  height: 1px;
  background: #e67e22;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.chuiniu-meta{
	color:#959595;
	margin:14px 0 0px;
}
.chuiniu-title,.chuiniu-meta{
	text-align:center;
}
.chuiniu-title h1{
	color:#303030;
}
.chuiniu-content{
	font:400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", 
	"Droid Sans Fallback", "Microsoft YaHei", sans-serif;
	color:#444443;
	margin:30px 0;
}
.chuiniu-footer{
	margin-top:30px;
	border-top:1px solid #ebebeb;
	padding:21px 0;
}
